*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.followup {
    z-index: 3;
    position: fixed;
    left: -45px;
    top: calc(50% - (350px / 1));
    width: 55px;
    height: 275px;
}

.followup ul {
    list-style: none;
}


.followup li:nth-child(1) {
    transition-delay: .65s,.65s;
}
.followup li {
    transition: transform 425ms cubic-bezier(.69,.03,.03,.93), opacity .15s ease-out;
}

.followup span {
    display: block;
    width: 50px;
    height: 38px;
    background: url("../images/Group.png") no-repeat 0 1px;
    background-size: 100% auto;
    text-indent: -9999em;
}

.followup a {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 55px;
    padding-left: 20px;
    margin-left: -20px;
    transition: transform 425ms cubic-bezier(.05,.65,.18,1);
}

.followup a:hover {
    -moz-transform: translate3d(20px,0,0);
    -ms-transform: translate3d(20px,0,0);
    -webkit-transform: translate3d(20px,0,0);
    transform: translate3d(20px,0,0);
}

.followup .github {
    background-color: #4e545a;
}

.followup .github {
    padding-top: 5px;
}

.followup .linkedin {
    background-color: #0077ba;
}

.followup .linkedin span {
    background-position: 0 -43px;
}

.followup .whatsapp {
    background-color: #60be92;
}
.followup .whatsapp span {
    background-position: 0 -90px;
}

@media screen and (max-width: 1350px) {
    .followup {
        top: calc(50% - (275px / 1));
    }

    .followup span {
        width: 50px;
        height: 38px;
        background: url("../images/Group.png") no-repeat 0 1px;
        background-size: 100% auto;
    }

    .followup a {
        width: 60px;
        height: 40px;
        padding-left: 20px;
        margin-left: -20px;
        transition: transform 425ms cubic-bezier(.05,.65,.18,1);
    }

    .followup .linkedin span {
        background-position: 0 -30px;
    }
    .followup .whatsapp span {
        background-position: 0 -69px;
    }
}

@media screen and (max-width: 875px) {
    .followup {
        left: -45px;
        top: calc(50% - (275px / 1));
        width: 55px;
        height: 275px;
    }

    .followup span {
        width: 50px;
        height: 38px;
        background: url("../images/Group.png") no-repeat 0 1px;
        background-size: 100% auto;
    }

    .followup a {
        width: 60px;
        height: 40px;
        padding-left: 20px;
        margin-left: -20px;
        transition: transform 425ms cubic-bezier(.05,.65,.18,1);
    }

    .followup .linkedin span {
        background-position: 0 -30px;
    }
    .followup .whatsapp span {
        background-position: 0 -69px;
    }
}