.Typewriter {
	font-weight: bold;
	font-size: 40px;
	color: #8cbae6;
	text-decoration: underline;
}

@media screen and (max-width: 1350px) {
	.Typewriter {
		font-size: 25px;
	}
}

@media screen and (max-width: 875px) {
	.Typewriter {
		font-size: 20px;
	}
}
